.logo {
  display: flex;
  align-items: center;
  width: 131px;
  margin: 0 auto;
}

.logo__icon {
  align-items: center;
  margin-right: 16px;
  display: inline-block;
  padding: 7px 14px;
  width: 48px;
  height: 48px;
  line-height: 1.33;
  background-color: $blue;

  font-family: 'Playfair Display', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: $white;
  text-decoration: none;
  border-radius: 12px;
}

.logo__text {
  @include font(22px, 600, 1.23);

  text-decoration: none;
  color: $blue;
}
