$blue: #5E81F4;
$white: #ffffff;
$black: #000000;
$light-gray: #8DA1B5;
$blue-gray: #778DAD;
$ligthen-gray: #F5F5FB;
$gray-text: #CCD6E8;
$grader-gray: #768492;
$gray-back: #E5E5E5;
$gray-aside: #83919E;
$blue-profile: #EEF2FD;
$green-profile: #D5F5FB;
$orange-profile: #FFEFD6;
$green-progress: #0CC3E7;
$orange-progress: #FFAE33;
$red: #ff5504;
